@use '../global' as *;

.l-top-hero {
  height: 600px;
}

.l-top-hero__img {
  display: block;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.p-top-about {
  margin-top: 80px;
}

.p-top-about__title {
  margin-inline: auto;
}

.p-top-about__container {
  margin-top: 60px;
  display: grid;
  justify-items: center;
  row-gap: 10px;

  @include mq() {
    margin-top: 70px;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
  }
}

.p-top-about__icon {
  width: 100px;
  aspect-ratio: 1 /1;
  clip-path: circle(50%);

  @include mq() {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: end;
  }
}

.p-top-about__name {
  justify-self: start;
  font-size: 16px;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;

  @include mq() {
    grid-column: 2 / 3;
  }
}

.p-top-abut__text {
  justify-self: start;
  font-size: 14.4px;

  @include mq() {
    grid-column: 2 / 3;
  }
}

.p-top-bicycle {
  margin-top: 100px;
}

.p-top-bicycle__title {
  margin-inline: auto;
}

.p-top-bicycle__container {
  margin-top: 60px;
}

.p-top-bicycle__list {
  display: grid;
  row-gap: 30px;

  @include mq() {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17.2px;
  }
}

.p-top-bicycle__item {
  display: grid;
  justify-items: center;
  row-gap: 10px;

  a {
    display: contents;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.p-top-bicycle__card-title {
  font-size: 16px;
  font-weight: $font-weight-semi-bold;
}

.p-top-bicycle__card-deacription {
  font-size: 14.4px;
}
